@model IEnumerable<AccountEnterprise.Application.Dtos.AccountDto>
@{
    Layout = "_Layout";
}

<h2>Счета</h2>

<a class="btn btn-primary" asp-controller="Accounts" asp-action="Create">Создать новый счет</a>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Номер</th>
            <th>Отдел</th>
            <th>Название банка</th>
            <th>Тип счета</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var account in Model)
        {
            <tr>
                <td>@account.Number</td>
                <td>@account.Department.Name</td>
                <td>@account.BankName</td>
                <td>@account.Type</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Accounts" asp-action="Details" asp-route-id="@account.Id">Подробнее</a> |
                    <a class="btn btn-sm btn-danger" asp-controller="Accounts" asp-action="Delete" asp-route-id="@account.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
