@model IEnumerable<AccountEnterprise.Application.Dtos.TransactionDto>

@{
    Layout = "_Layout";
}

<h2>Транзакции</h2>

<a class="btn btn-primary" asp-controller="Transactions" asp-action="Create">Создать новую транзакцию</a>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Тип</th>
            <th>Операция</th>
            <th>Департамент</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@transaction.Type</td>
                <td>@transaction.Operation?.Name</td> 
                <td>@transaction.Department?.Name</td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-controller="Transactions" asp-action="Details" asp-route-id="@transaction.Id">Детали</a> |
                    <a class="btn btn-sm btn-danger" asp-controller="Transactions" asp-action="Delete" asp-route-id="@transaction.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
